$colorBg: #f1f1f1;
$colorPrimary: #7d7fb2;
$colorSecondary: #333;
$colorLight: #fff;
$colorContrast: #a8a8a8;
$fontBase: 1.2rem;
$fontHeader: $fontBase + 5;
$fontMedium: $fontBase + 0.5;
$fontLarge: $fontMedium + 2;
$borderRadius: 2rem;
$gradient: linear-gradient(to right, darkblue, darkgreen);
